langchain-openai
markdown
langchain-unstructured[local]
unstructured
faiss-cpu
pytrends
fastapi
langchain
langchain_openai
langgraph
python-dotenv
langchain_community
uvicorn
langchain_experimental
streamlit
psycopg
psycopg_pool
langgraph-checkpoint-postgres